@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Sify</h1>
    <p class="lead">Application Services is Innovation wing of Sify Technologies.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Microsoft Services</h2>
        <p>
            Internet of Things, Cloud Computing, Big Data, Mobility
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Oracle</h2>
        <p>Oracle Apps</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SAP</h2>
        <p>SAP.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>